/* <!--Navbar  --> */
.nav-link {
    position: relative;
    transition: color 0.3s ease;
}
.nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: blue;
    transition: width 0.3s ease;
}
.nav-link:hover {
    color: blue;
}
.nav-link:hover::before {
    width: calc(100% - 20px); /* Adjust width as per your design */
}

/* Banner flashing  */
#banner {
  position: relative;
    padding: 20px;
    background-color: #007bff; /* Blue background color */
    color: white; /* White text color */
    text-align: center; /* Center text */
    font-size: 1.5em; /* Increase font size */
    animation: flash 1s infinite; /* Flashing animation */
    margin: 1% 5% 0 5%;
    font-family: Chango;
  }
  
  #register-link {
      position: relative;
      padding: 1px;
      background-color: #db6f1c; /* Blue background color */
      color: rgb(94, 26, 203); /* White text color */
      text-align: center; /* Center text */
      font-size: 1.2em; /* Increase font size */
      animation: flash 3s infinite; /* Flashing animation */
      margin: 1% 1% 2% 1%;
      font-family: Chango;
    }
  @keyframes flash {
    0%, 100% {
      opacity: 1; /* Fully visible */
    }
    50% {
      opacity: 0; /* Fully invisible */
    }
  }
  
  .Bevanclass { 
    font-family: Chango; 
  }

  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

body, nav,footer{
           
  background-color: #FAACA8;
background-image: linear-gradient(19deg, #491714 0%, #271859 100%);

  
}
/* nav,footer{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #c6437e 0%, #5f33c7 100%);
  
} */